{erl_opts, [debug_info]}.
{deps, [
  {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {branch, "master"}}}
  %% {brod, ".*", {git, "https://github.com/klarna/brod.git"}}
]}.

{relx, [{release, { eca, "0.1.0" },
         [eca,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
